{% extends 'base.html' %}


{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
            {#            <p>#}
            {#                {{ user.date_joined }} 항상 로그인된 pk만 인식됨. target_user 라는 명칭으로 바꿔줌#}
            {#                {{ target_user.date_joined }}#}
            {#            </p>#}


            {% if target_user.profile %}    {# profile 있으면 #}
                {#            프로필 이미지 #}
                <img src="{{ target_user.profile.image.url }}" alt="" style="height: 10rem; width: 10rem; border-radius: 15rem; margin-bottom: 2rem;">
                <h2 style="font-family: 'NanumSquareB'">
                    {# {{ user.username }}#}
                    {# {{ target_user.username }}#}
                    {{ target_user.profile.nickname }}
                    {% if target_user == user %}
                    <a class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;" href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit
                    </a>
                    {% endif %}
                </h2>
                <h5 style="margin-bottom: 3rem;">
                    {{ target_user.profile.message }}
                </h5>

            {% else %}  {# profile 없으면 #}

                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2 style="font-family: 'NanumSquareB'">
                        Create Profile
                    </h2>
                </a>

                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}

            {% endif %}


            {# 본인이면 #}
            {% if target_user == user %}
                <a class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;" href="{% url 'accountapp:update' pk=user.pk %}">
                    settings
                </a>
                <a class="material-icons" style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;" href="{% url 'accountapp:delete' pk=user.pk %}">
                    cancel
                </a>
            {% endif %}

        </div>

        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>

    </div>

{% endblock %}