.h_logo {
    font-family: 'Grandiflora One', cursive;
}

.h_footer_btn {
    font-size: .7rem;
}

.h_footer {
    text-align: center;
    margin-top: 2rem;
}

.h_header {
    text-align: center;
    margin: 2rem 0;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

.container a{
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.header_nav {
    margin: 0 0.5rem;
}

.header_navbar {
    margin: 1rem 0;
}